<footer class="container">
  <p class="float-end"><a href="#">Back to top</a></p>
  <p>
    <a hre="/">{{ site.title }}</a>
    {%- for item in footerNav -%}
    &nbsp;· <a href="{{item.url}}">{{item.text}}</a>
    {%- endfor -%}
    {#
    <a href="https://github.com/ProBusinessTech/Demos" target="_blank">GitHub</a> ·
    <a href="{{ 'https://probusinesstech.com/pages/contact' | url }}">Contact</a> · <a href="{{ 'https://probusinesstech.com/pages/privacy' | url }}">Privacy</a>
    #}
  </p>
</footer>
