---
meta:
  lang: en
  title: ProBusinesstTech.com - Demos
  image: "/assets/images/open-graph/teaser.jpeg"
  description: Template for static site generator Eleventy with Boostrap 5 and SCSS/JS compilation via laravel-mix.
layout: base
eleventyNavigation:
  key: Home
---

<div class="row align-items-md-stretch">  
  <div class="col-md-6 mt-3">
  {%- for repo in repos -%}    
      <div class="p-5 text-white bg-dark rounded-3" style="background-color: #ff7979">
        <h2><a href="{{ repo.html_url | url }}">{{repo.name}}</a></a></h2>
        <p>{{repo.description}}</p>
      </div><br/>
  {%- endfor -%}
</div>
</div>

</div><!-- for debug: {{ site | dump }} {{page | dump }} {{meta | dump}}-->
